<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivanlevcugov.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/name"
        android:label="Посчитай"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mode1" >
        </activity>
        <activity android:name=".SelectDialog" >
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity android:name=".mode2" >
        </activity>
        <activity
            android:name=".rejim3"
            android:label="@string/title_activity_rejim3" >
        </activity>
        <activity android:name=".sum" >
        </activity>
        <activity android:name=".lvl1" >
        </activity>
        <activity android:name=".lvl2" >
        </activity>
        <activity android:name=".vich" >
        </activity>
        <activity android:name=".umnoj" >
        </activity>
        <activity android:name=".lvl3" >
        </activity>
    </application>

</manifest>
